body {
    background: linear-gradient(to bottom right, #f0f0f0, #eaeaea);
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: left;
}

.menu-icon {
    position: relative;
    font-size: 2em;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none; /* Inicia como oculto */
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px; /* Espaço para os itens */
    transition: all 0.3s ease;
}

.menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu {
        position: relative; /* Muda para o topo em telas menores */
        transform: none;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        background: none; /* Remove o fundo */
    }
    .menu ul {
        flex-direction: row; /* Alinha os itens na horizontal */
    }
}


.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    margin-top: -75px;  
}

.container h2 {
    animation: typing 4s steps(10) forwards, blink 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid black; /* Cor do cursor */
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%; /* Completa o texto */
    }
}

@keyframes blink {
    0% { border-right-color: transparent; }
    50% { border-right-color: black; }
    100% { border-right-color: transparent; }
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button,
.custom-button {
    background: transparent; /* Sem fundo */
    color: #ffffff; /* Cor do texto */
    border: 2px solid #ffffff; /* Borda com a mesma cor */
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover,
.custom-button:hover {
    background: #00ff33; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

.down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    cursor: pointer;
}

.menu-icon {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 2em;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 12%;
    right: 8%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 50%; /* Para fazer o fundo circular */
    display: none; /* Inicia como oculto */
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s ease; /* Transição de opacidade */
    padding: 20px; /* Espaço para os itens */
}

.menu.open {
    display: flex; /* Usa flexbox para layout */
    flex-direction: column; /* Coloca itens em coluna */
    opacity: 1; /* Torna visível */
    animation: expand 0.3s ease forwards; /* Animação de expansão */
}

@keyframes expand {
    from {
        transform: scale(0); /* Começa pequeno */
    }
    to {
        transform: scale(1); /* Expande para o tamanho original */
    }
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
    opacity: 0; /* Começa invisível */
    transform: translateY(-10px); /* Início acima */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transições para cada item */
}

.menu.open ul li {
    opacity: 1; /* Fica visível quando o menu é aberto */
    transform: translateY(0); /* Move para a posição original */
}

/* Adiciona um atraso na animação de cada item do menu */
.menu.open ul li:nth-child(1) { transition-delay: 0.1s; }
.menu.open ul li:nth-child(2) { transition-delay: 0.2s; }
.menu.open ul li:nth-child(3) { transition-delay: 0.3s; }
.menu.open ul li:nth-child(4) { transition-delay: 0.4s; }

.menu.close {
    animation: shrink 0.3s ease forwards; /* Animação de encolhimento */
}

@keyframes shrink {
    from {
        transform: scale(1); /* Começa no tamanho normal */
    }
    to {
        transform: scale(0); /* Encolhe para pequeno */
        opacity: 0; /* Fica invisível */
    }
}

.portfolio-section {
    padding: 60px 20px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    text-align: center;
}

.portfolio-cards {
    display: flex;
    justify-content: center; /* Centraliza os cards */
    flex-wrap: wrap; /* Permite quebra para múltiplas linhas se necessário */
}

.project-card {
    margin: 15px;
    padding: 20px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px; /* Aumentar largura do card */
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05); /* Aumenta o card ao passar o mouse */
}

.project-card img {
    max-width: 100%;
    border-radius: 25px;
}

.project-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.project-card p {
    font-size: 1rem;
    color: #fff;
}

.project-card a {
    background: transparent; /* Sem fundo */
    color: #ffffff; /* Cor do texto */
    border: 2px solid #ffffff; /* Borda com a mesma cor */
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.project-card a:hover {
    background: #218838;
}

.skills-section {
    padding: 60px 20px;
    background: white; /* Fundo branco */
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha se necessário */
    justify-content: center; /* Centraliza os cards horizontalmente */
    margin-top: 20px; /* Espaço acima dos cards */
}

.skill-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 120px; /* Largura fixa */
    transition: transform 0.3s;
}

.skill-card img {
    width: 100px; /* Largura do ícone */
    height: 100px; /* Altura do ícone */
    margin-bottom: 10px; /* Espaço abaixo do ícone */
}

.skill-card:hover {
    transform: scale(1.1); /* Aumenta o card ao passar o mouse */
}

.contact-section {
    padding: 40px; /* Ajustar padding */
    background: #f9f9f9;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), 
                -5px -5px 15px rgba(255, 255, 255, 0.7);
    margin: 40px auto;
    width: fit-content; /* Tamanho do container apenas dos campos */
}

.contact-text {
    text-align: left; /* Alinha o texto à esquerda */
    margin-bottom: 20px; /* Espaço abaixo do texto */
}

.contact-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section input,
.contact-section textarea {
    width: 100%; /* Largura total do campo */
    max-width: 400px;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2), 
                inset -5px -5px 10px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s, transform 0.3s; /* Adiciona animação */
}

.contact-section input:focus,
.contact-section textarea:focus {
    box-shadow: 0 0 5px #007BFF;
    transform: translateY(-5px); /* Move o texto para cima */
}

.contact-section button {
    background: transparent; /* Sem fundo */
    color: #007BFF; /* Cor do texto */
    border: 2px solid #007BFF; /* Borda com a mesma cor */
    padding: 15px; /* Ajustar padding */
    width: 100%; /* Largura total do campo */
    max-width: 400px; /* Para manter o mesmo tamanho dos campos */
    border-radius: 25px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.contact-section button:hover {
    background: #007BFF; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

footer {
    text-align: center;
    padding: 5px;
    background: #333;
    color: white;
    position: relative; /* Para o layout do footer */
}

/* Novos estilos para os quadrados na tela inicial */
    .square {
        position: absolute;
        border: 2px solid;
        animation: float 4s infinite ease-in-out;
    }

.square:nth-child(1) {
    width: 50px;
    height: 50px;
    border-color: #FF5733;
    top: 10%;
    left: 20%;
}

.square:nth-child(2) {
    width: 75px;
    height: 75px;
    border-color: #33FF57;
    top: 30%;
    right: 20%;
}

.square:nth-child(3) {
    width: 100px;
    height: 100px;
    border-color: #3357FF;
    bottom: 20%;
    left: 10%;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
